* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Dela Gothic One' !important;
    font-style: normal;
}

.position-fondo-azul {
    background-position: center bottom;
    height: auto;
}

.position-fondo-rojo {
    background-position: center top;
    height: 75vh;
}

.fondo-azul {
    background-color: #243b64;
}

.fondo-rojo {
    background-color: #cd221a !important;
}

.fondo-mostaza {
    background-color: #f3b017;

}

.texto-mostaza {
    color: #f3b017;
}

.texto-azul {
    color: #243b64;
}

.texto-rojo {
    color: #cd221a;
}


.cartilla-horarios,
.cartilla-pagos {
    box-shadow: 5px 5px 5px black;

}

.card-product {
    margin-left: auto;
    margin-right: auto;
}

.imagen {
    height: 44vh;
    width: 100%;
    background: no-repeat url("../img/Perro_transparent.png") center;
    background-size: 470px;
    z-index: 10;
}


@media (min-width:787px) and (max-width:997px) {
    .imagen {
        background-size: 500px;
        height: 40vh;
    }

    .position-fondo-rojo {
        height: 70vh;
    }

}


@media (min-width:406px) and (max-width:595px) {
    .imagen {
        background-size: 300px;
        height: 25vh;

    }

    .position-fondo-rojo {
        background-position: center top;
        height: 68vh;

    }


}

@media (max-width:384px) {
    .imagen {
        background-size: 125px;
        height: 12vh;

    }

    .position-fondo-rojo {
        height: 70vh;

    }

}


@media (min-width: 580px) and (max-width: 1400px) {
    .cartilla-horarios {
        clip-path: polygon(74% 0, 100% 31%, 100% 100%, 0 100%, 0 0);
    }

    .cartilla-pagos {
        clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%, 0 31%);
    }
}

.titulo {
    color: #ffe66d;
    background-color: transparent !important;
    text-shadow: 4px 3px 3px #012a4a;
}

.hr-1,
.hr-2,
.hr-3 {
    height: 7px !important;
    background-color: #ffe66d;
    border-radius: 5px;
}

.hr-1 {
    width: 50%;
}

.hr-2 {
    width: 80%;
}

.hr-3 {
    width: 100%;
}


.fadeTop {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.visible {
    opacity: 1;
    transform: translate(0, 0);
}


.box-contact {
    border-radius: 8px;
    border: #243b64 12px double;
}