* {
    font-family: 'Dela Gothic One' !important;
    font-style: normal;
}

.background-3 {
    background-color: #243b64;
    background-position: center bottom;
    height: auto;

}

.background-2 {
    background-color: #cd221a;
    background-position: center top;
    height: 75vh;

}

.background-1 {
    height: 60vh;
    width: 100%;
    background: no-repeat url("../img/Perro_transparent.png") center;
}

@media (max-width:997px) {
    .background-1 {
        background-size: 550px;
        height: 50vh;

    }
}

@media (max-width:787px) {
    .background-1 {
        background-size: 500px;
        height: 45vh;

    }

    .card-product {
        margin-left: auto ;
        margin-right: auto ;
    }
}

@media (max-width:595px) {
    .background-1 {
        background-size: 450px;
        height: 40vh;

    }
}

@media (max-width:406px) {
    .background-1 {
        background-size: 350px;
        height: 30vh;

    }

    .background-2 {
        background-color: #cd221a;
        background-position: center top;
        height: 70vh;

    }

}

.background-nav-bar {
    line-height: 70px;
    border-top: 10px solid #cd221a;
    margin: 0 auto 10px auto;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #f3b017;
}

.c-text {
    display: table;
}

.h-text {
    display: table-cell;
    vertical-align: middle;
}

.name-text {
    font-size: 76px;
    color: #ffe66d;
    background-color: transparent !important;
    text-shadow: 4px 3px 3px #012a4a;
}

@media (max-width:1203px) {
    .name-text {
        font-size: 60px;
    }
}

@media (max-width:997px) {
    .name-text {
        font-size: 40px;
        text-align: center;
    }
}

.hr-1 {
    width: 50%;
    height: 7px !important;
    background-color: #f4c95d;
    border-radius: 5px;
}

.hr-2 {
    width: 80%;
    height: 7px !important;
    background-color: #f4c95d;
    border-radius: 5px;
}

.hr-3 {
    width: 100%;
    height: 7px !important;
    background-color: #f4c95d;
    border-radius: 5px;
}


.fadeTop {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.cash-1 {
    color: #7bb926;
    font-size: 25px;
}

.cash-2 {

    color: #7bb926;
    font-size: 20px;
}

.margin-top-contact {
    margin-top: -25px;
}

.footer-fancy {

    background-color: #f3b017;
}

.box-contact {

    border-radius: 8px;
    border: #243b64 12px double;
    line-height: 70px;
    margin: 0 auto 10px auto;
    text-align: center;
    width: 50%;
    height: 100px;
    background-color: #f3b017;
}
@media (max-width:1411px) {
    .text-contact {
        font-size: 16px;
    }
}
@media (max-width:1271px) {
    .text-contact {
        font-size: 13px;
    }
    .box-contact{
    width: 75%;
    height: 100px;
    }
}



.tapa-bocas{
    background: no-repeat url("../img/tapa-bocas.jpg") right;
    background-size: 30%;
    width: 50px;
    height: 100px;
}