*{
	font-family: 'Dela Gothic One', cursive;
}
.background-3 {
    background-color: #243b64;
    background-position: center bottom;
    height: 1000px;

}

.background-2 {
    background-color: #cd221a;
    background-position: center top;
    height: 75vh;

}

.background-1 {
    height:60vh;
    width: 100%;
    background: no-repeat url("../img/Perro_transparent.png") center;
}

.background-nav-bar {
    line-height: 70px;
    border-top: 10px solid #cd221a;
    margin: 0 auto 10px auto;
    text-align: center;
    width: 600px;
    height: 60px;
    background-color: #f3b017;
}

.c-text{
	display: table;
}

.h-text{
		display: table-cell;
	vertical-align: middle;
}

.name-text{
	font-size:120px;
}