<div class="fondo-mostaza rounded">
    <h2 class="text-center texto-azul">¡Promoción disponible!</h2>
    <p class="text-center texto-rojo ">Genera numero premiado:
        <ul class="text-white">
            <li><i class="texto-rojo">1°:</i> Click en el botón para generar el numero.</li>
            <li><i class="texto-rojo">2°:</i> Guarda el numero que te aparezca (Screenshot o Capture).</li>
            <li><i class="texto-rojo">3°:</i> Tienes que dirigirte hasta nuestro puesto de "Fancy Dog-Burger" con el numero premiado.</li>
        </ul>
        <p class="text-center text-muted" style="font-size: 10px;">Nota:Tienes que realizar al menos una compra para reclamar tu premio</p>
    </p>
    <div class="d-flex justify-content-center">
        <button type="button" id="btn-aleatorio" class="btn text-white fondo-rojo btn-rounded">Generar numero</button>
    </div>
    <div class="d-flex justify-content-center">
        <p id="textDelNum" class="text-white"></p>
    </div>
    <div class="d-flex justify-content-center">
        <h1 id="num-premiado" class="texto-rojo"></h1>
    </div>
    <div class="text-center text-white">
        <p class="mb-2" style="font-size: 13px;">Promoción valida para el <i class="texto-rojo"> 2 de Abril del 2021</i></p>
    </div>
</div>